<section>
  <h1 class="page-title">List of Shelters</h1>
  <%= link_to "New Shelter", "/shelters/new", class: "button" %>
  <%= link_to "Sort by Total Adoptable Pets", shelters_path(sort: "pets"), class: "button" %>
  <%= link_to "Sort in Alphabetical Order", shelters_path(sort: "abc"), class: "button" %>
  <%= link_to "No Sort", shelters_path, class: "button" %>
  <div class="container">
    <% @shelters.each_with_index do |shelter, index| %>
      <a class="index-link" href="<%= shelter_path(shelter) %>">
        <div class="col-12 shelter-card index-<%= index %>">
          <h3 class="box-title"><%= shelter.name %></h3>
        </div>
      </a>
    <% end %>
  </div>
  <p>Photos by: <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@jaywennington?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Jay Wennington"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Jay Wennington</span></a></p>
</section>
