<section>
  <h1 class="page-title center">Update a Pet</h1>
  <section class="form">
    <%= form_with model: @pet, local: true do |f| %>
      <%= f.label :image_url %>
      <%= f.text_field :image %>
      <p class="error"><%= @pet.errors.messages[:image][0] %></p>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <p class="error"><%= @pet.errors.messages[:name][0] %></p>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <p class="error"><%= @pet.errors.messages[:description][0] %></p>
      <%= f.label :approximate_age_in_years %>
      <%= f.number_field(:approximate_age, step: 0.5) %>
      <p class="error"><%= @pet.errors.messages[:approximate_age][0] %></p>
      <%= f.label :sex %>
      <div class="radio-options">
        <div class="option">
          <%= radio_button(:pet, :sex, "female") %>
          <%= label(:female, "Female") %>
        </div>
        <div class="option">
          <%= radio_button(:pet, :sex, "male") %>
          <%= label(:male, "Male") %>
        </div>
      </div>
      <p class="error"><%= @pet.errors.messages[:sex][0] %></p>
      <%= f.submit class: "submit" %>
    <% end %>
  </section>
</section>
