<section>
  <% @pets.each do |pet| %>
    <div class="img-container">
      <%= image_tag pet.image %>
    </div>
    <div class="container">
      <h1><%= pet.name %></h1>
      <p><%= pet.approximate_age %> years old, approximately </p>
      <p><%= pet.sex %></p>
      <p><span class="bold">Shelter:</span> <%= pet.shelter.name %></p>
    </div>
  <% end %>
</section>
