<section>
  <h1 class="page-title">List of All Pets</h1>
  <%= link_to "Only Adoptable Pets", pets_path(adoptable: "true"), class: "button" %>
  <%= link_to "Only Adoption-Pending Pets", pets_path(adoptable: "false"), class: "button" %>
  <%= link_to "All Pets in Shelter", pets_path, class: "button" %>
  <div class="pet-container">
    <% @pets.each do |pet| %>
      <a class="pet-link" href="<%= pet_path(pet) %>">
        <div class="pet-card">
          <div class="img-container">
            <%= image_tag pet.image %>
          </div>
          <div class="card-info">
            <h1 class="card-title detail"><%= pet.name %></h1>
            <p class="card-text small"><%= pet.approximate_age %> years old, <%= pet.sex %></p>
            <p class="card-text small"><span class="bold">Shelter:</span> <%= pet.shelter.name %></p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</section>
