<section>
  <h1 class="page-title"><%= @pet.name %></h1>
  <div class="horizontal-card container">
    <div class="img-container img-horizontal">
      <%= image_tag @pet.image %>
    </div>
    <div class="info">
      <div>
      <h2><%= @pet.description %></h2>
        <p>Approximately <%= @pet.approximate_age %> years old, <%= @pet.sex %> </p>
        <p><span class="bold">Adoption status:</span> <%= @pet.status %></p>
      </div>
      <div>
        <%= link_to "Update Pet", edit_pet_path(@pet), class: "button" %>
        <%= link_to "Delete Pet", pet_path(@pet), method: :delete, data: { confirm: "Are you sure you want to delete this?" }, class: "button warning" %>
      </div>
    </div>
  </div>
</section>
