<section>
  <h1 class="page-title"><%= @shelter.name %></h1>
  <%= link_to "Create Pet", new_shelter_pet_path(@shelter), class: "button" %>
  <h3>Pets available for adoption:</h3>
  <div class="pet-container">
    <% @pets.each do |pet| %>
      <a class="pet-link" href="<%= pet_path(pet) %>">
        <div class="pet-card">
          <div class="img-container">
            <%= image_tag pet.image %>
          </div>
          <div class="card-info">
            <h1 class="card-title"><%= pet.name %></h1>
            <p class="card-text"><%= pet.approximate_age %> years old, <%= pet.sex %> </p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</section>
