<section>
  <h1><%= @shelter.name %></h1>
  <%= link_to "Create Pet", new_shelter_pet_path(@shelter) %>
  <h3>Pets available for adoption:</h3>
  <div class="container">
    <% @pets.each do |pet| %>
      <div class="pet-card">
        <div class="img-container">
          <%= image_tag pet.image %>
        </div>
        <div class="card-info">
          <h1><%= pet.name %></h1>
          <p><%= pet.approximate_age %> years old, approximately </p>
          <p><%= pet.sex %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>
