<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar">
      <a href="/" class="logo"><h1><span class="purple">Adopt</span><span class="light-purple">Don't</span><span class="purple">Shop</span></h1></a>
      <div class="links">
        <%= link_to "All Pets", pets_path, class: "nav-link" %>
        <%= link_to "All Shelters", shelters_path, class: "nav-link" %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
